{% extends 'template.html' %}
{% block conteudo %}
    <h1>Make a new Reservation</h1>
    <!-- Room Formulario -->
    <form method="POST" action="{{ dados['url_form'] }}">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="number_of_guests">Number of Guests</label>
                <input type="text" class="form-control" id="number_of_guests" name="number_of_guests" required="required"
                        {% if busca %} value="{{ busca.number_of_guests }}" {% endif %}>
            </div>
            <div class="form-group col-md-3">
                <label for="reservation_date">Reservation Date: </label>
                <input id="reservation_date" class="form-control form-inline" type="date" name="reservation_date" required="required"
                        {% if busca %} value="{{ busca.reservation_date }}" {% endif %}>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="checkin_date">Checkin Date: </label>
                <input id="checkin_date" class="form-control form-inline" type="date" name="checkin_date" required="required"
                        {% if busca %} value="{{ busca.checkin_date }}" {% endif %}>
            </div>
            <div class="form-group col-md-3">
                <label for="checkout_date">Checkout Date: </label>
                <input id="checkout_date" class="form-control form-inline" type="date" name="checkout_date" required="required"
                        {% if busca %} value="{{ busca.checkout_date }}" {% endif %}>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="customer_id">Customer Id</label>
                <input type="text" class="form-control" id="customer_id" name="customer_id" required="required"
                     {% if busca %} value="{{ busca.customer }}" {% endif %} />
            </div>
            <div class="form-group col-md-3">
                <label for="room_id">Room id</label>
                <input type="text" class="form-control" id="room_id" name="room_id" required="required"
                    {% if busca %} value="{{ rooms_id }}" {% endif %} />
                <small id="reservationHelp" class="form-text text-muted">id separados por espacos, ex: 1 2 3</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>id</th>
                    <th>number</th>
                    <th>dimension</th>
                </tr>
                </thead>
                <tbody>
                {% for iten in rooms %}
                    <tr>
                        <td>{{ iten.id }}</td>
                        <td>{{ iten.number }}</td>
                        <td>{{ iten.dimension }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for iten in customers %}
                    <tr>
                        <td>{{ iten.id }}</td>
                        <td>{{ iten.title }}</td>
                        <td>{{ iten.first_name }}</td>
                        <td>{{ iten.last_name }}</td>
                        <td>{{ iten.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <!-- Room Fim -->
{% endblock %}
